:root {
	--pad: 14px;
	--border-color: #999999;
}

#logo {
	width: 150px;
	height: 80px;
	margin-right: var(--pad);
	margin-left: var(--pad);
	background-image: url("../img/logo_color.png");
	transition: 1s;
	vertical-align: middle;
}

#logo:hover {
	background-image: url('../img/logo_bw.png');
}

.container {
	display: flex;
	vertical-align: middle;
}

.menu {
	display: flex;
	float: left;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.menu-item {
	height: 80px;
	display: inline-block;
	float: left;
	vertical-align: middle;
	transition: background .5s;
	box-sizing: border-box;
	padding: var(--pad);
}

.menu-item:hover {
	background-color: #aaaaaa;
}