table {
	border-collapse: collapse;
	width: 100%;
}

.showHide {
	color: #888888;
	text-align: left;
	padding-top: 8px;
	padding-left: 8px;
}

.showHide a {
	color: #aaaaaa;
}

th {
	border-bottom: 2px solid #dddddd;
	text-align: left;
	padding: 8px;
}

td {
	padding: 8px;
}

tr:nth-child(2n) {
	background-color: #ddddee
}

i {
	color: var(--green);
}